
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
} */
#Box {
  width: 100%;
  border-top: 2px solid rgb(202, 202, 202);
  display: flex;
}

.box1 {
  text-align: left;
  width: 50%;
}
a {
  color: gray;
}
.signupbtn {
  background: black;
  margin: 20px;
  color: white;
  padding: 5px 10px 5px 10px;
  font-size: 18px;
}

.footerPtag{
  text-align: left;
  color: black;
  /* margin-bottom: -10px; */
  margin-left: 25px;
  font-size: 16px;
}

#social {
  font-size: 35px;
  display: flex;
}

#social > div {
  margin: 20px;
}

/*---------------------------------- BOX-2---------------------------------------------------- */
a {
  text-decoration: none;
}
h1{
  text-align: left;
}

#Box2 {
  position: relative;
  width: 100%;
  display: flex;
  height: auto;
  justify-content: space-between;
  margin-bottom: 20px;
}

#Box2 > div:nth-child(1) {
  border-top: 2px solid rgb(202, 202, 202);
  width: 50%;

  line-height: 40px;
}

#Box2 > div:nth-child(2) {
  border-top: 2px solid rgb(202, 202, 202);
  width: 15%;
  line-height: 40px;
}

#Box2 > div:nth-child(3) {
  border-top: 2px solid rgb(202, 202, 202);
  width: 15%;
  line-height: 40px;
}

#Box2 > div:nth-child(4) {
  border-top: 2px solid rgb(202, 202, 202);
  width: 15%;
  line-height: 40px;
}
/* -----------------------------------------------------BOX-3---------------------------------------------------------- */
#Box3 {
  width: 100%;
  border-top: 2px solid rgb(202, 202, 202);
  display: flex;
}

#Box3 > div:nth-child(1) {
  width: 50%;
}

#Box3 > div:nth-child(2) {
  width: 50%;
}
#Box3 h1 {
  margin: 20px;
  margin-bottom: 5px;
  margin-left: 15px;
}
#Box3 h3 {
  margin: 20px;
  margin-bottom: 5px;
  margin-left: 15px;
}
#Box3 p {
  color: gray;
  margin-top: -5px;

  margin-left: 15px;
}
a:hover {
  color: blue;
}
#Box2 p:hover {
  color: black;
  background-color: rgb(216, 213, 213);
}

/* ---------------------------------------Media queries-----------------------------------------------------*/

@media all and (min-width: 451px) and (max-width: 750px) {
  #footermain > div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    width: 100%;
    gap: 15px;
  }

  a {
    text-decoration: underline;
  }
 
}
@media all and (min-width: 150px) and (max-width: 450px) {
  #footermain > div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    /* width: 100%; */
    gap: 15px;
  }
.payimg{
  width: 300px;
}
  a {
    text-decoration: underline;
  }
  
}
/* -------------------------------------------------------------------------------------------------------------------- */