.logo{
    margin-left: 50px;
}
#heading{
    display: flex;
    
    
}
#heading>div{
    width: 200px;
    margin-left: 50px;
}
h2{
    font-weight: 300;
    
}
#custo{
    text-align: center;
}
#bought{
     display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 450px;
   
    width: 90%;
    margin: auto;
    gap: 30px;

}
.boughtpro{
    height: 70%;
    width: 100%;
}

.des{
    margin-top: 10px;
    text-align: center;
}
#price{
    text-decoration: line-through;
    
}
.discount{
    display: flex;
    margin-left: 100px;
}
p{
    font-weight: bold;
}
.quickbuy{
    border: 0px;
    width: 100%;
    font-size: 17px;
    padding: 5px;
    background-color: black;
    color: white;
}
.quickbuy:hover{
    cursor: pointer;
    background-color: rgb(59, 59, 59);
}
#shopping{
    font-size: 17px;
    border: 0px;
    background: black;
    text-decoration: none;
    padding: 15px;
    margin-left: 650px;
}
#shopping:hover{
    background-color: rgb(57, 57, 57);
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
#continue{
    text-align: center;
}
/*--- shop now part---*/
#shopnow{
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,420px);
    grid-template-rows: repeat(2,450px);
    margin: 1px solid black;
    gap: 30px;
    
    
    
}
.cards{
    
   border: 1px solid black;

}
.cards>img{
    height: 80%;
    width: 100%;
}
h3{
    font-weight: 300;
    font-size: 22px;
}
