.logo{
    margin-left: 50px;
}
#heading{
    display: flex;
    
    
}
#heading>div{
    width: 200px;
    margin-left: 50px;
}
h2{
    font-weight: 300;
    
}
#custo{
    text-align: center;
}
#bought{
     display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: auto;
    width: 90%;
    margin: auto;
    gap: 30px;

}
@media all and (min-width:451px) and (max-width:700px){
    #bought{
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
        gap: 30px;

    }
}
@media all and (min-width:451px) and (max-width:700px){
    #bought{
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
        gap: 30px;

    }
    
}
.boughtpro{
    height: 70%;
    width: 100%;
}

.des{
    margin-top: 10px;
    text-align: center;
}
#price{
    text-decoration: line-through;
    
}
.discount{
    display: flex;
    margin-left: 100px;
}
p{
    font-weight: bold;
}
.quickbuy{
    border: 0px;
    width: 100%;
    font-size: 17px;
    padding: 5px;
    background-color: black;
    color: white;
}
.quickbuy:hover{
    cursor: pointer;
    background-color: rgb(59, 59, 59);
}
#shopping{
    font-size: 17px;
    border: 0px;
    background: black;
    text-decoration: none;
    padding: 15px;
    margin-left: 650px;
}
#shopping:hover{
    background-color: rgb(57, 57, 57);
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
#continue{
    text-align: center;
}
/*--- shop now part---*/
#shopnow{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    margin: 1px solid black;
    gap: 30px;

}
@media all and (min-width:451px) and (max-width:700px){
    #shopnow{
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
        gap: 30px;
        
    }
    #shopping{
        margin-left: 180px;
        margin-top: -30px;
    }
}
@media all and (min-width:100px) and (max-width:451px){
    #shopnow{
        display: grid;
        grid-template-columns: repeat(1,auto);
        grid-template-rows: repeat(4,auto);
        gap: 30px;
        
    }
    #shopping{
        margin-left: 60px;
        margin-top: -30px;
    }
}

.cards>img{
    height: 80%;
    width: 100%;
}
h3{
    font-weight: 300;
    font-size: 22px;
}
.shop{
    margin-top: -13px;
}
.shopup{
    margin-top: -15px;
}
